<!doctype html>
<title>FB RSS Feed Generator</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}" />
<link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}" />
<div>
  <form id="form-data" method="get" action="data" >
     <p>
     https://www.facebook.com/<input type="text" name="username" placeholder="islandfarmfresh" maxlength="200" size="50" /><br/>
     </p>
     <p>
     <em><small>E.g. https://www.facebook.com/<b>islandfarmfresh</b></small></em><br/>
     <em><small>E.g. https://www.facebook.com/<b>pages/Old-Forge-Tropicals/163077410408333</b></small></em>
     </p>
     <p>
     <input type="submit" value="Submit" /> 
     </p>
  </form>
</div>
